<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this page contain the veg items</h1>
        <h1>Vegbiryani</h1>
        <h1>colorrice</h1>
        <h1>palav</h1>
        <h1>Tomotorice</h1>
        <h1>pulihora</h1> 
        <a href='{% url "shopping:texttiles" %}'' >click here for shopping page </a>      
    </center>
</body>
</html>